<div class="nav">
    <a class="link-copyright" href="{{ site.baseurl }}/"><b>Home</b></a>
    <a class="link-copyright" href="/about"><b>Sobre</b></a>
    <a class="link-copyright" href="javascript: w=window.open('https://gio-bon.notion.site/Giovani-Bontempo-fac584c61a0446cdab3bc9a8935f984c.pdf'); w.print();">​​​​​​​​​​​​​​​​​Curriculum</a>

    <!-- <a class="link-copyright" target="_blank" href="https://gio-bon.notion.site/Giovani-Bontempo-fac584c61a0446cdab3bc9a8935f984c" onclick="window.print(); return false"><b>Curriculum</b></a> -->
</div>
