.typing-animation{
    animation: pisca-pisca 500ms infinite normal;
}

@keyframes pisca-pisca {
    from {
        border-right-color: black;
    }
    to {
        border-right-color: transparent;
    }
}